// place your custom styles here
@use "vuepress-theme-hope/presets/shinning-feature-panel";

:root {
  --bg-2: url("https://theme-hope-assets.vuejs.press/bg/2-light.svg");
  --bg-9: url("https://theme-hope-assets.vuejs.press/bg/9-light.svg") no-repeat
    center/cover;
  --bg-10: url("https://theme-hope-assets.vuejs.press/bg/10-light.svg")
    no-repeat center/cover;
  --bg-10-inverse: url("https://theme-hope-assets.vuejs.press/bg/10-dark.svg")
    no-repeat center/cover;
}

[data-theme="dark"] {
  --bg-2: url("https://theme-hope-assets.vuejs.press/bg/2-dark.svg");
  --bg-9: url("https://theme-hope-assets.vuejs.press/bg/9-dark.svg") no-repeat
    center/cover;
  --bg-10: url("https://theme-hope-assets.vuejs.press/bg/10-dark.svg") no-repeat
    center/cover;
  --bg-10-inverse: url("https://theme-hope-assets.vuejs.press/bg/10-light.svg")
    no-repeat center/cover;
}

.vp-project-home {
  .vp-hero-info-wrapper {
    min-height: 512px;
  }
  .vp-features {
    place-content: stretch;
  }
}

.vp-page-title {
  padding-top: 1.5rem;
  padding-bottom: 1rem
}

// .vp-page-title h1 {
//   text-align: center;
// }


[vp-content].vp-portfolio-content h3 {
  --header-underline: none;
  align-self: baseline;
  border-bottom : 1px solid var(--vp-c-gutter, #e2e2e3);
  font-size: 1.35rem;
}

.catalog-display-container {
  overflow: visible auto;

  max-height: 75vh;
  margin: 0.5rem;
  border-radius: 0.5rem;

  overflow-wrap: break-word;
}
